.content{
	font-family: 'Roboto', sans-serif;
	max-width: 900px;
	height: 100vh;
	padding-bottom: 50px;
}
.photo {
	width: 195px;
	height: 260px;
	background-image: url("../kate.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.name{
	font-family: 'Roboto', sans-serif;
	text-align: end;
	margin: 5px 0;
}
.job-title{
	font-style: italic;
	font-weight: 200;
}
.left h3 {
	text-align: end;
}

.job{
	padding-bottom: 10px;
}

li {
	text-align: end;
	list-style: none;
}


.contacts li span {
	margin-right: 10px;
}

.left, .right {
	height: 100%;
}

.left {
	width: 27%;
	float: left;
	border-right: 1px solid #000;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0 20px;
}

.right {
	width: 67%;
	float: right;
}